@import 'global/foundation-framework/settings';

.blitz-background {
  background:#eee;
}

.blitz-header {
  background:#444;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.blitz-logo {
  margin-left:auto;
  margin-right:auto;
  @include breakpoint(small only) {
    display:block;
  }
}

.blitz-main {
  background:#f5f5f5;
}

.blitz-action-step {
  padding:20px 0;
  margin-bottom:5px;
  background:#fafafa;
  border-bottom:1px solid #eee;
}

.blitz-sidebar {
  padding-left:0;
  padding-right:0;
  background:#e7e7e7;
  border-left:1px solid rgba(0, 0, 0, 0.1);
}

.blitz-menu a {
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  transition:all 0.2s ease-in-out;
}

.blitz-menu a.is-active {
  box-shadow:inset 2px 0 #3498db;
  background:#f0f0f0;
  color:#3498db;
}
.blitz-menu a.is-disabled {
  cursor:default;
  color:#999;
  background:#e7e7e7;
  transition:none;
}

.blitz-menu a.is-disabled:hover {
  cursor:default;
  transition:none;
}

.blitz-resource-list {
  margin:0;
  font-size:0.9rem;
  padding:0.9rem;
  width:100%;
  list-style-type:none;
}

.blitz-resource-list a {
  display:block;
  padding-top:7px;
  padding-bottom:7px;
  border-bottom:1px solid rgba(0, 0, 0, 0.05);
  transition:all 0.2s ease-in-out;
}

.blitz-menu li:first-child a {
  border-top:1px solid rgba(0, 0, 0, 0.1);   
}

.blitz-action-day {
  background:#fff;
  margin-bottom:5px;
  padding:1rem;
  border:1px solid #eee;
  border-left:5px solid #ddd;
  border-bottom:2px solid #ccc;
}

.blitz-action-task {
  padding-top:10px;
  padding-bottom:10px;
  border-top:1px solid #ddd;
  &:first-of-type {
    padding-top:0;
    border:none;
  }
}

.blitz-action-task-inputs {
  font-size: 0;
  * {
    font-size: 1rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input[type="radio"], & > input[type="checkbox"] {
    display: none;
    & + label {
      /* only enough room for the check */
      display: inline-block;
      margin:0 0.3rem 0 0;
      overflow: hidden;
      text-indent: 9999px;
      width: 1.5rem;
      height:1.5rem;
      line-height:1.5rem;
      border:1px solid #bbb;
      border-radius:100%;
      white-space: nowrap;
      cursor: pointer;
      transition:all 0.3s ease-in-out;
      &:before {
        display: inline-block;
        text-indent: -9994px;
        content: '✔';
        color: #bbb;
        transition:all 0.3s ease-in-out;
      }
    }
    &:checked ~ label {
      border:1px solid #00CF88;
      background: #00CF88;
      transform:scale(1.1);
    }
    &:checked ~ label:before,
    & + label:focus ~ label:before,
    & + label:focus:before {
      content: '✔';
      color: #fff;
      background: #00CF88;
    }
  }
  @media only screen and (min-width: 1024px) {
     &:hover > input[type="checkbox"] + label:hover ~ label:before,
     &:hover > input[type="checkbox"] + label:hover:before,
     &:hover > input[type="radio"] + label:hover ~ label:before,
     &:hover > input[type="radio"] + label:hover:before {
       content: '✔';
       color: #00e697;
       outline:0;
     }
  }
  @media only screen and (max-width: 640px) {
    padding-top:1rem;
  } 
}